# SETUP
- - -

In [1]:
import pandas as pd

In [7]:
!ls -tral /Users/quartz/data/collabo_2nd/

total 406096
-rwxr-xr-x@  1 quartz  staff    374003 12  1  2016 mushrooms.csv
-rwxr-xr-x@  1 quartz  staff  52908706 11 27  2017 winemag-data-130k-v2.csv
-rwxr-xr-x@  1 quartz  staff  79279294 11 27  2017 winemag-data-130k-v2.json
-rwxr-xr-x@  1 quartz  staff  49784334 11 27  2017 winemag-data_first150k.csv
-rwxr-xr-x@  1 quartz  staff  24956107  7 25 20:49 BlackFriday.csv
-rwxr-xr-x@  1 quartz  staff     10926 12 10 12:14 Social_Network_Ads.csv
-rwxr-xr-x@  1 quartz  staff    107424 12 10 15:03 advertising.csv
-rw-r--r--@  1 quartz  staff    480711 12 11 09:55 sms_spam.csv
drwxr-xr-x  10 quartz  staff       320 12 13 11:16 .
drwxr-xr-x  16 quartz  staff       512 12 13 11:16 ..

In [2]:
!mv /Users/quartz/data/BlackFriday.csv /Users/quartz/data/collabo_2nd/

In [3]:
file = '/Users/quartz/data/collabo_2nd/BlackFriday.csv'

In [5]:
data_raw = pd.read_csv(file)
data_raw.tail()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [6]:
data_raw.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64